# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
env/
ENV/

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# PyInstaller
*.spec
dist/
build/

# IDEs
.idea/
.vscode/
